body {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	padding:0;
	padding-bottom: 125px;
    margin: auto;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2em;
}

/*Global Styles*/
.green{
	color: rgb(130, 185, 100);
}

.inner_container{
	padding: 5vh 0vw 5vh 0vw;
    margin: 0vh 5vw 0vh 5vw;
}

.no_decorate{
	text-decoration: none;
	color: black;
}

/*Top Item*/
#dropDown{
	padding:20px 0px 10px 0px;
}

#item{
	max-width: 500px;
	width: 100%;
    display: inline-block;
    padding: 3vh 0vh 3vh 0vh;
}

.item_highlight{
	background-color: rgb(170,210,230,.2);
}

#items{
	max-width: 1800px;
	margin: auto;
}

.itemsHide{
	display: none;
}

.item_image{
	width: 200px;
	height: 200px;
}

.items_image{
	width: 200px;
	height: 200px;
}

.items_image_holder{
    height: 200px;
    width: 500px;
    display: table-cell;
    vertical-align: middle;
    padding:0px 20px 0px 20px;
}

.item_savings{
	max-height:220px;
	padding: 0px 10px 0px 10px;
}

/*Top Content*/
#top_content{
	display: inline-block;
	width: 100vw;
    background-color: rgb(38,34,98);
    color: white;
}

#top_header{
	max-height: 10vh;
}

/*Footer*/
#footer{
	z-index: 1000000;
	width: 100vw;
	position: fixed;
	bottom: 0;
}

#footer_text_container{
	color: white;
	background-color: rgb(130, 185, 100);
	width:100vw;
	//height:12.5vh;
	position: fixed;
	bottom: 0;
}

.footer_text{
    //height: 12.5vh;
    width: 100vw;
    //display: table-cell;
    vertical-align: middle;
}

/*Filters*/
#filters{
	background-color: rgb(220,220,220);
	height: 100vh;
	width: 100vw;
	z-index: 10001;
	position: fixed;
	top: 0;
	display: none;
}

.filter_text{
	font-size: 41px;
	padding: 10vh 3vw 0 3vw!important;
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    text-align: left;
}

/*Item Components*/

#button{
	margin: auto;
    background-color: orange;
    width: 80%;
}

#button_text{
	color: white;
	padding: 9px 11px 11px 11px;
}

.dropdown {
	width: 6em;
	background-color: transparent;
    border-style: none;
    font-size: 1em;
    text-decoration: underline;
}

@media screen and (min-width: 800px){
	.item_highlight{
		background-color: initial;
	}
}


@media screen and (min-width: 500px){
	.filter_text{
		font-size: 3.5em;
		padding: 10vh 3vw 0 3vw!important;
	}

	h1 {
		font-size: 3.5em;
	}

	h2 {
		font-size: 1.25em;
	}

	h3 {
		font-size: 1rem;	
	}

	h4 {

	}

	.item_image{
		width: 80%;
	}

	.item_highlight{
		background-color: rgba(170,210,230,.2);
	}

	#item{
		max-width: 300px;
	}
}

@media screen and (min-width: 1200px){
	#item{
		max-width: 350px;
	}
}