<div id="items" class="itemsHide item">
	<!-- item template -->
<div id="#top_content">
	<div id="item" ng-repeat="item in clean_items" ng-init="$last && update()" ng-class-even="'item_highlight'">
		<a href="{{item.url}}" target="_blank" ng-click="analytics('Item Click','Click',item.vendor);"><div>
			<div>
				<div class="no_decorate"><h2>Size {{item.size}} {{item.brand | capitalize}}<br>${{item.pricePerUnit}} Per Diaper</h2></div>
			</div>
			<div class="items_image_holder"><img class="items_image" alt="Size {{item.size}} {{item.brand | capitalize}} ${{item.pricePerUnit}} Per Diaper" title="size {{item.size}} {{item.brand | capitalize}} diapers {{(item.pricePerUnit - priceaverage[item.size][item.brand])/priceaverage[item.size][item.brand] | deal}} than other size {{item.size | lowercase}} diapers from {{item.brand | capitalize}}" data-src="{{item.image}}"></div>
			<div>
				<div class="no_decorate"><h3>Total Price: ${{item.price}}<br>Total Items: {{item.units}}<br>No Coupon Needed!</h3></div>
			</div>
			<div class="no_decorate item_savings"><h2><span class="green">{{(item.pricePerUnit - priceaverage[item.size][item.brand])/priceaverage[item.size][item.brand] | deal}}</span><br>than other size {{item.size | lowercase}} diapers from {{item.brand | capitalize}}</h2></div>
			<div>
				<div id="button">	
					<div id="button_text"><h3>Get This Diaper Deal</h3></div>
				</div>
			</div>
		</div></a>
	</div>
</div>
	<!-- item template -->
</div>