<div id="items">
	<!-- item template -->
<div id="#top_content">
	<div id="item" ng-repeat="item in items">
		<a href="{{item.url}}" target="_blank"><div>
			<div><img class="items_image" ng-src="{{item.image}}"></div>
			<div>
				<div class="no_decorate"><h2>Size {{item.size}} {{item.brand | capitalize}}<br>${{item.pricePerUnit}} Per Diaper</h2></div>
			</div>
			<div>
				<div class="no_decorate"><h3>Total Price: ${{item.price}}<br>Total Items: {{item.units}}</h3></div>
			</div>
			<div>
				<div id="button">	
					<div id="button_text"><h3>Get This Diaper Deal</h3></div>
				</div>
			</div>
		</div></a>
	</div>
</div>
	<!-- item template -->
</div>