<div id="#top_content">
	<div id="item">
		<a href="{{items[1].url}}" target="_blank"><div>
			<div><img class="item_image" src="{{items[1].image}}"></div>
			<div>
				<div class="no_decorate"><h2>Size {{items[1].size}} {{items[1].brand | capitalize}}<br>${{items[1].pricePerUnit}} Per Diaper</h2></div>
			</div>
			<div>
				<div class="no_decorate"><h3>Total Price: ${{items[1].price}}<br>Total Items: {{items[1].units}}</h3></div>
			</div>
			<div>
				<div id="button">	
					<div id="button_text"><h3>Get This Diaper Deal</h3></div>
				</div>
			</div>
		</div></a>
	</div>
</div>