<!-- <link rel="stylesheet" type="text/css" href="/v3/public/styles.css"> -->
<div id="top_content">
<h1>Baby Diaper Size Chart</h1>
<div>
	<div>
		<p>I'm looking for 
			<select class="sizedropdown" ng-options="size for size in sizes" ng-model="selectedSize" ng-change="update_items();"></select><br><br>diapers from <select class="sizedropdown" ng-options="brand for brand in brands" ng-model="selectedBrand" ng-change="update_items();"></select>
	</div>
</div>
<table id="sizeChart" class="blackText">
<col width="20%">
  <tr class="whiteText">
    <th rowspan="13"><div class="sizeMenu">Diaper Size</div></th>
    <th colspan="4">Diaper Brand</th>
  </tr>
  <tr class="whiteText">
    <th colspan="4">
    	<td></td>
    	<td><table width="100%">
    		<col width="33%">
    		<tr>
    			<td></td>
    			<td>Pampers</td>
    			<td>Huggies</td>
    			<td>Luvs</td>
    		</tr>
    	</table></td>
    </th> 
  </tr>
  <tr>
  	<td class="sizeType premie">Premie</td>
    <td></td>
    <td></td> 
    <td></td>
  </tr>
  <tr>
  	<td class="sizeType">Newborn<br>&lt;10 lbs</td>
    <td class="pampers diaperType">Pampers Swaddlers<br><br>Pampers Baby-Dry<br><br>Pampers Swaddlers Overnights<br><br>Pampers Swaddlers Sensitive</td>
    <td class="huggies diaperType">Huggies Type 1<br><br>Huggies Type 2</td> 
    <td class="luvs diaperType">Luvs Type 1<br><br>Luvs Type 2</td>
  </tr>
  <tr>
  	<td class="sizeType">Size 1<br>8 - 14 lbs</td>
  	<td class="pampers diaperType">Pampers Swaddlers<br><br>Pampers Baby-Dry</td>
    <td></td> 
    <td></td>
  </tr>
  <tr>
  	<td class="sizeType">Size 2<br>12 - 18 lbs</td>
  	<td class="pampers diaperType">Pampers Swaddlers<br><br>Pampers Baby-Dry</td>
    <td></td> 
    <td></td>
  </tr>
  <tr>
  	<td class="sizeType">Size 3<br>16 - 28 lbs</td>
    <td class="pampers diaperType">Pampers Swaddlers<br><br>Pampers Baby-Dry<br><br>Pampers Cruisers<br><br>Pampers Swaddlers Overnights<br><br>Pampers Splashers<br><br>Pampers Easy Ups</td>
    <td></td> 
    <td></td>
  </tr>
  <tr>
  	<td class="sizeType">Size 4<br>22 - 37 lbs</td>
    <td class="pampers diaperType">Pampers Swaddlers<br><br>Pampers Baby-Dry<br><br>Pampers Cruisers<br><br>Pampers Swaddlers Overnights<br><br>Pampers Splashers<br><br>Pampers Easy Ups</td>
    <td></td> 
    <td></td>
  </tr>
  <tr>
  	<td class="sizeType">Size 5<br>>27 lbs</td>
    <td class="pampers diaperType">Pampers Swaddlers<br><br>Pampers Baby-Dry<br><br>Pampers Cruisers<br><br>Pampers Swaddlers Overnights<br><br>Pampers Splashers<br><br>Pampers Easy Ups</td>
    <td></td> 
    <td></td>
  </tr>
  <tr>
  	<td class="sizeType">Size 6<br>>35 lbs</td>
    <td class="pampers diaperType">Pampers Swaddlers<br><br>Pampers Baby-Dry<br><br>Pampers Cruisers<br><br>Pampers Swaddlers Overnights<br><br>Pampers Splashers<br><br>Pampers Easy Ups</td>
    <td></td> 
    <td></td>
  </tr>
  <tr>
  	<td class="sizeType">Size S<br>>35 lbs</td>
    <td class="pampers diaperType">Pampers Swaddlers<br><br>Pampers Splashers<br><br>Pampers Cruisers</td>
    <td></td> 
    <td></td>
  </tr>
  <tr>
  	<td class="sizeType">Size M<br>>35 lbs</td>
    <td class="pampers diaperType">Pampers Swaddlers<br><br>Pampers Splashers</td>
    <td></td> 
    <td></td>
  </tr>
  <tr>
  	<td class="sizeType">Size L<br>>35 lbs</td>
    <td class="pampers diaperType">Pampers Swaddlers<br><br>Pampers Splashers</td>
    <td></td> 
    <td></td>
  </tr>
</table>
</div>