<div id="top_content">
	<div>
		<div class="inner_container"><h1>Discover The Best Diaper Coupons & Deals</h1><br><h3>Looking for the best coupons & deals in diapers? We feel you. That’s why we built DiapersDiapers.com. We've built technology to find the best diaper coupons and deals from Amazon, Walmart, and others.  Stop spending your time looking for the best diaper coupons and deals on Pampers, Huggies, and Luvs. Our technology does the dirty work leaving you more time to focus on the important stuff.</div></h3>
	</div>
</div>